/*h2{
    border: 10px solid red;
} */


/*using type and class and id 
h1{
    font-style: italic; text-align: center;
    color: red; font-size: large;
}


.su{
    color: blue;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#rrr{
    font-size: x-large;
    color: blueviolet;
}

h1,h2,h3,h4,h5{
    color: darkgreen; border: 4px
    solid red;
}

*{
   font-style: italic; text-align: center;
    color: red; font-size: large; 
}

pre.as{
    color: darkgreen; border: 4px
    solid red;
}

input[type="text"]{
    color: darkgreen; border: 4px
    solid red;
}

#as{
    background-color: aqua;
   color: brown;
}
#ns{
    color:rebeccapurple;
}
#rrr{
    color: blue;
}
.sure{
    color: aquamarine;
}
.suren{
    color: antiquewhite;
}*/
body {
    font-family: Arial;
}

header {
    text-align: center;
    background: lightblue;
    padding: 10px;
    text-align: center;
}

nav {
    background: #ddd;
    padding: 5px;
    text-align: center;
}

main {
    padding: 15px;
}

footer {
    background: lightgray;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
